:root {
  --color-primary: #00bade;
  --color-secondary: #005a5a;

  --color-font: #000;
  --color-form-background: var(--color-primary);
  --color-form-control: var(--color-secondary);
  color: var(--color-font);
  background-color: var(--color-secondary);
}

.fs1 {

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz {
  padding: 40px 60px;
  background-color: var(--color-primary);
  display: grid;
  width: min(100%, 600px);
  border: 2px solid var(--color-font);
}

.quiz-header-submitted-score {
    font-size: 1.25rem;
}

.question {
    font-size: 1.25em;
    margin: 0 0 1em;
    display: block;
}

/* Navigation */

.quiz-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation-prev {
    margin-right: auto;
}

.navigation-next {
    margin-left: auto;
}

.navigation-submit {
    margin-left: 12px;
}

/* Button */

.btn {
  cursor: pointer;
  padding: 0.5em 0.75em;
  background: transparent;
  outline: 2px solid var(--color-font);
  outline-offset: 2px;
  border: none;
  color: var(--color-font);
  transition: 0.35s ease;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  appearance: none;
  z-index: 0;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.35s ease;
  z-index: -1;
  background: var(--color-font);
}

.btn:hover::after {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.btn-ltr::after {
    transform: scaleX(0);
    transform-origin: right;
}

.btn-ltr:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-rtl::after {
    transform: scaleX(0);
    transform-origin: left;
}

.btn-rtl:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

.btn:hover {
  color: var(--color-primary);
}

/* Radio button */

.quiz-question-answers-option {
    position: relative;
    margin: 10px 0;
}

.quiz-question-answers-option-label {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.quiz-question-answers-option-input--highlight-correct + .quiz-question-answers-option-label {
    background: green;
    padding: 5px;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control:focus-within {
  color: var(--color-form-control);
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--color-form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-form-control);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* Progress bar */

.quiz-footer-progress-bar {
    margin-top: 20px;
    padding: 2px;
    outline: 2px solid var(--color-font);
    outline-offset: 2px;
    height: 10px;
    position: relative;
}

.quiz-footer-progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: var(--progress-bar-progress, 0%);
    background-color: var(--color-font);
    transition: width 0.5s ease-in-out;
}